.active {

}

.wrap {
    padding: 40px 0 0 0;
    background-color: #666;
    height: 100%;
    box-sizing: border-box;
}

.wrap li {
    border-bottom: 1px solid #999;
}

.wrap a {
    padding: 20px 30px;
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 100%;
    color: #fff;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
}

.wrap a:hover {
    color: #666;
    background-color: #fff;
    border-right: 1px solid #666;
}