.table {
    margin: 24px 0;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
}

.table td,
.table th {
    border: 1px solid #ccc;
}

.table th {
    padding: 12px 0;
}

.table td {
    padding: 8px;
}