.item {
    display: inline-block;
    margin: 2px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
}

.item.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.item.active {
    border: none;
    color: #fff;
    background-color: #777;
    cursor: auto;
}