ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.menu-content {
    padding-top: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
}

.menu-content li {
    width: 100%;
    padding: 0 12px;
    text-align: center;
    box-sizing: border-box;
}

.menu-content li:hover {
    background-color: #fff;
}

.menu-content li:hover a {
    color: #555;
}


.menu-content li a {
    padding: 24px 0;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);

}