.section-welcome {
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
}

.section-welcome .row {
    width: 240px;
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    /*justify-content: space-between;*/
    padding: 20px 0;
}

.section-welcome .row button {
    width: 100%;
}