.wrap {
    padding: 0 60px 0 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 80px;
    background-color: #333;
    color: #fff;
    align-items: center;
    box-sizing: border-box;
}


.left {
    font-size: 1.5em;
}

.right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}

.right span {
    margin-left: 20px;
}
