<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>


<!--================================================================================================================-->


<div id="app">


    v-for="(val, idx, arr) in array"
    <ul>
        <li v-for="(val, idx) in persons">My name is {{ val.name }}, i 'am {{ val.age }} years old.
        </li>
    </ul>


    <hr>


    v-for="(val, idx, arr) of array"
    <ul>
        <li v-for="(val, idx) of persons">My name is {{ val.name }}, i 'am {{ val.age }} years old.
        </li>
    </ul>


    <hr>


    v-for="(key, val, idx) in object"
    <ul>
        <li v-for="(key, val, idx) in alpha">{{ idx }}: {{ key }}: {{ val }}</li>
    </ul>


    <hr>


    v-for="(key, val, idx) of object"
    <ul>
        <li v-for="(key, val, idx) of alpha">{{ idx }}: {{ key }}: {{ val }}</li>
    </ul>


    <hr>


    v-for="(val, idx) of number"
    <ul>
        <li v-for="(val, idx) of 10">{{ val }}: {{ idx }}</li>
    </ul>


    <hr>


    v-for="(val, idx) of string"
    <ul>
        <li v-for="(val, idx) of 'hello world'">{{ val }}: {{ idx }}</li>
    </ul>


    <hr>


    template: 减少代码冗余，模版渲染标签
    <ul>
        <template v-for="(val, idx) in persons">
            <li>{{ val.name }}</li>
            <li>{{ val.age }}</li>
        </template>
    </ul>


</div>


<!--================================================================================================================-->


<script>
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


const vm = new Vue({


    el: '#app',
    data: {
        persons: [
            {name: 'alpha', age: 16},
            {name: 'beta', age: 17},
            {name: 'omega', age: 18},
        ],
        alpha: {
            name: 'Alpha',
            age: 18,
            height: '182cm',
        }
    }
});


//-------------------------------------------------------------------------------------------------------------------//


/**
 * v-for="params in target"
 *
 *
 * 会强制替换元素
 */


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
</script>


</body>
</html>