.custom_prev-enter {
    opacity: 0;
}

.custom_prev-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.custom_prev-exit {
    opacity: 1;
}

.custom_prev-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}


