.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 20%);
}

.container .content{
    padding: 30px 40px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid;
    border-radius: 4px;
}

.content .row:not(:last-child) {
    margin-bottom: 24px;
}

.content .row input {
    padding: 3px;
    margin-left: 10px;
}

.content .row button {
    width: 100%;
}


