<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../../node_modules/vue/dist/vue.js"></script>

    <style>



    </style>

</head>
<body>


<!--================================================================================================================-->


<div id="app">

</div>


<!--================================================================================================================-->




<script>
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


const vm = new Vue({

    el: '#app',
    data: {
        msg: 'hello world',

    },

    /**
     * render 优先级大于 template
     *
     * render 文件体积缩减 30%
     */


    // render(); 和 <template><template/> 不能共存，必须注释 template-tag 才能使用 render();

    template: `<p>just do it</p>`,

    render(h) {

        return h('a');
    }
});


//-------------------------------------------------------------------------------------------------------------------//





///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
</script>





</body>
</html>